.parallax {
    background: url("./images/trianglebackgroundlightgray.png");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
  
  h2{
    font-family: 'Raleway:900', sans-serif;
    font-size: 80px;
    font-weight: bold;
    color: white;
    padding-top: 100px;
  }

  h4{
    font-family: 'Raleway:500', sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: white;
    padding-top: 150px;
    display: flex;
    justify-content: center;
  }